.login-form-new {
    display: flex;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 120vh;
    width: 100%;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

h2 {
    display: flex;
    padding: 0 32px;  
    font-size: 40px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: 1px;
    text-align: center;
    color: #3f3f3f;
}

p {
    position: relative;
}

img {
    display: flex;
    padding: 0 32px;
    margin-top: 24px;
    margin-bottom: 29px;
}

a,
a:link,
a:visited,
a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
    color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#login-form-wrap {
    background-color: #fff;
    margin: auto 200px auto auto;
    padding: 20px 0 0 0;
    border-radius: 8px;
    width: 420px;
    height: 500px;
}

#login-form-form {
    padding: 0 32px;
}

input {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 44px;
    line-height: 60px;
    border-radius: 4px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 0;
    color: #8d8d8d;
    border: 1px solid #d9d9d9;
    font-style: normal;
    font-size: 14px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    position: relative;
    display: inline-block;
    background: none;
    border-radius: 8px;
    margin-top: 16px;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3ca9e2;
    padding: 10px;
}
input[type="text"]:focus:invalid,
input[type="password"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}
input[type="text"]:valid ~ .validation,
input[type="password"]:valid ~ .validation {
    display: block;
    border-color: #0C0;
}
input[type="text"]:valid ~ .validation span,
input[type="password"]:valid ~ .validation span {
    background: #0C0;
    position: absolute;
    border-radius: 8px;
}
input[type="text"]:valid ~ .validation span:first-child,
input[type="password"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
input[type="text"]:valid ~ .validation span:last-child,
input[type="password"]:valid ~ .validation span:last-child {
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
}

/* input[type="submit"] {
    border: solid 1px #d9d9d9;
    background-color: #b75ae2;
    color: #fff;
    display: inline-block;
    margin-top: 28px;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 8px;
    height: 44px;
}
input[type="submit"]:hover {
    background-color: #cf74f3;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
} */


.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 8px;
    height: 44px;
}

.btn-primary {
    color: #fff;
    border: solid 1px #d9d9d9;
    background-color: #b75ae2;
}

.btn-block {
    display: block;
    width: 100%;
}

#create-account-wrap {
    background-color: #eeedf1;
    color: #8a8b8e;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
}

.lupa-password {
    color: #b75ae2 !important;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: 0.3px;
    text-align: left;
    margin-top: 12px;
}

.container_login {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.login-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(129deg, #b75ae2 6%, #d396ef 104%);
    min-height: 15vh;
    width: 100%;
}

.login-footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: #000;
}

.footer-content {
    margin: 30px 180px 100px 180px;
}

.about-title {
    font-size: 14px;
    font-weight: 500;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}
.about-content {
    margin: 18px 0 18px 0;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
}
.about-content-container {
    display: flex;
    flex-direction: row;
}
.about-content-sosmed {
    display: flex;
    align-items: center;
    margin: 18px 0 10px 0;
    font-size: 10px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
}


.footer-bottom {
    border-top: 1px solid #eaeaea;
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.icon-container {
    /* Rounded border */
    border-radius: 50%;

    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ff357e;
    color: #fff;

    /* Size */
    min-height: 18px;
    min-width: 18px;

    margin-right: 4px
}

.icons {
    font-size: 12px;
}

.img-qr {
    min-width: 90px;
    min-height: 90px;
    flex-grow: 0;
    margin: 18px 19px 0 0;
    padding: 34px 8px 32px;
    background-color: #d9d9d9;
}

.dl-content {
    margin: 0;
    padding: 0;
}

.dl_android {
    min-width: 92px;
    min-height: 32px;
    padding: 1px;
    margin-bottom: 4px;
    object-fit: contain;
}

.dl_ios {
    min-width: 92px;
    min-height: 32px;
    padding: 1px;
    margin-top: 4px;
    object-fit: contain;

}

@media screen and (max-width: 900px) {
    #login-form-wrap {
        display: inline-block;
        margin: auto auto;
    }
    .login-form-new {
        background-size: auto;
        height: 80vh;
    }
    .footer-content {
        margin: 30px 60px 100px 60px;
    }
    .footer-bottom {
        margin-left: 60px;
        margin-right: 60px;
    }
    .about-content-container {
        flex-direction: column;
    }
    .dl_android,
    .dl_ios {
        margin-left: 14px;
    }
}